@import "tailwindcss";

* {
    border-color: oklch(0.922 0 0);
    outline-color: oklch(0.708 0 0 / 50%);
}

body {
    background: oklch(1 0 0);
    color: oklch(0.145 0 0);
}

html {
    font-family: var(--font-sans);
}

.student-primary-button:hover {
    background: #1D4ED8 !important;
}

.student-primary-button:active {
    background: #1E40AF !important;
}

.student-secondary-button:hover {
    background: #F3F4F6 !important;
    border-color: #9CA3AF !important;
}

.student-secondary-button:active {
    background: #E5E7EB !important;
    border-color: #6B7280 !important;
}
